@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #a164df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.container .item {
  background-color: rgb(108, 56, 160);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 25px 55px;
  font-weight: 400;
  font-size: 120%;
  cursor: pointer;
  border-color: rgb(108, 56, 160);
  transition: background-color 0.5s;
}

.container .item:hover {
  background-color: rgba(108, 56, 160, 0.8);
}
